* {
    margin: 0 0;
    box-sizing: border-box;
}

#header {
    position: fixed;
    z-index: 1;
    padding: 8px 16px;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.nav li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 16px;
}    

.nav li a {
    display: block;
    font-family: Verdana,sans-serif;
    font-size: 18px;
    color: #000;
    letter-spacing: normal;
    line-height: 1.5;
    letter-spacing: 4px;
    text-decoration: none;
}

.nav .float-left {
    float: left;
}

.nav .float-right {
    float: right;
}

.nav li:hover {
    background-color: #ccc;
    cursor: pointer;
}

#slider {
    position: relative;
    background: url("./image/architect.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
}

#slider .img {
    max-width: 100%;
}

#slider container {
    margin: 10px 0;
}

#slider span {
    color: #fff;
    background-color: #000;
    opacity: 0.75;
    padding: 8px 16px;
    text-align: center;
}

#slider .heading {
    color: #f1f1f1;
    position: absolute;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 1.5;
    font-size: 36px;
    top: 50%;
    left: 41%;
}

#content {

    padding: 8px 16px;
}

#content #projects, #content #about, #content #contact {
    padding: 32px 16px;
}

#content .heading {
    padding: 16px 0;
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    display: block;
    line-height: 1.5;
}

#row1, #row2 {
    padding: 0 8px;
    display: inline-block;
    width: 100%;
}

#content .pictures {
    position: relative;
    padding: 0 8px;
    margin-bottom: 16px;
    float: left;    
    display: block;
    width:25%;
}

#content img {
    background-size: cover;
    width: 100%;
}

#content .title {
    top: 0;
    left: 0;
    margin-left: 8px;
    position: absolute;
    display: inline-block;
    font-size: 15px;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
    padding: 8px 16px;
    color: #fff;
    background-color: #000;
}

#about .des {
    margin: 15px 0;
    font-size: 15px;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
}

#row2 .name {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 400;
    font-family: "Segoe UI",Arial,sans-serif;
    line-height: 1.5;
    display: block;

}

#row2 .job {
    opacity: 0.6;
}

#row2 .job, #row2 .descrip{
    margin: 15px 0;
    font-size: 15px;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
    display: block;
}

#row2 .button {
    padding: 8px 16px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
    background-color: #f1f1f1;
    color: #000;
    border: 1px solid #f1f1f1;
}

#row2 .button:hover {
    background-color: #ccc;
    cursor: pointer;
}

#contact .react {
    margin: 15px 0;
    font-size: 15px;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
}

#contact input {
    font-size: 18px;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
    width: 100%;
    padding: 8px 8px;
    display: block;
    border: 1px solid #ccc;
}

#contact .input {
    margin: 16px 0;
}

#contact .button {
    margin: 16px 0;
    padding: 8px 16px;
    color: #fff;
    background-color: #000;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
}

#contact .button:hover {
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
    border: 1px solid #ccc;
}

.container {
    padding: 0.01em 16px;
    display: block;
    width: 100%;
}

.container img {
    max-width: 100%;
}

#footer {
    display: block;
    padding: 16px 0;
    text-align: center;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
}

#footer a {
    text-decoration: underline;
    color: tomato;
    font-weight: bolder;
}

/* On screen that 992px or less */
@media screen and (max-width: 992px){
    #content .pictures {
        width: 50%;
    }
}
/* On screen that 600px or less */
@media screen and (max-width: 600px) {
    #content .pictures {
        width: 100%;
    }
    #header .float-right {
        display: none;
    }
}